 <!DOCTYPE html>
<html lang="en">
  <head>
{{>headerlinks}}
  </head>
  <body>
{{>navbar}}

    <!-- main header -->
    <div class="containter-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- right side div -->
            <div class="col-md-6 col-12 main_header_right align-items-center">
              <figure>
                <img
                  src="image/men2.png"
                  alt="Image"
                  title="Prateek Yadav"
                  class="img-fluid"
                />
              </figure>
            </div>
            <!-- left side div -->
            <div class="col-md-6 col-12 main_header_left ">
              <p>Welcome to weather app</p>
              <h1>I Am A <span class="text_clr">Full Stack Web Developer</span> Student And A Learner </h1>
              <a href="https://www.linkedin.com/in/prateek-yadav-5a4195211/" target="_blank"><button>About Me</button></a>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- footer code -->
{{>footer}}
</html>
