<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body>
  {{>navbar}}

    <!-- main header -->
    <div class="containter-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          
          <div class="main_content">
            <form class="temp_form">
              <input type="text" id="cityName" placeholder="Enter your city name" >
              <input type="submit" value="search" id="submitBtn">
            </form>
          </div>
             <div class="tempInformation">
                <div class="top_layer">
                    <p id="day">Tuesday</p>
                    <p id="today_date">13 OCT</p>
                </div>
                <div class="main_layer " >
                    <p id="city_name">Get Output Here</p>
                    <div class="middle_layer data_hide"  >
                            <p id="temp"><span id="temp_real_val">0</span> <sup>o</sup>C</p>
                            <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                    </div>
                </div>
             </div>
        </div>
      </div>  
    </div>
    <!-- footer code -->
   {{>footer}}
   <script src="js/main.js"></script>
   <script>
    
      const getCurrentDay = () => {
        let currentTime = new Date();
        var weekday = [
          "Sun",
          "Mon",
          "Tue",
          "Wed",
          "Thu",
          "Fri",
          "Sat",
        ];
        let days=weekday[currentTime.getDay()];
        let day=document.getElementById('day');
       day.innerText=days;
      };
      getCurrentDay(); 

        const getCurrentTime = () => {
        const months = [
          "Jan",
          "Feb",
          "Mar",
          "Apr",
          "May",
          "June",
          "July",
          "Aug",
          "Sept",
          "Oct",
          "Nov",
          "Dec",
        ];
        let today_date=document.getElementById('today_date');
        var now = new Date();
        var month = months[now.getMonth()]; 
        var date = now.getDate();
        today_date.innerText=`${date} ${month}`;
      };
      getCurrentTime();
   </script>
  </body>
</html>
